@CHARSET "ISO-8859-1";

#data_class_body .editable_td input {
	margin-bottom: 0px;
	width: 90%;
}

#data_class_body .da-icon-column {
	text-align: center;
	vertical-align: middle;
}

#data_class_body .da-icon-column img{
	padding: 2px;
}
.pagination{
	text-align: right;
}
.error{
	font-size: 11px;
	margin-bottom: 0px;
}