#header-main #header-message,
#header-main #right-logo{
    float:left;
    display:none;
}


#header-main #devportal-logo{
    height:100px;
    width:265px;
    position:absolute;
    padding:0;
    top:0;
}

#header-main #devportal-logo a{
    width:100%;
    height:100%;
    display:block;
}

#header-main {
    padding-top:100px;
    height:30px;
    line-height:30px;
    color:#fff;
    background: url(/mifesandbox/images/headlogos.jpg) top center no-repeat;
}

label.bold {
    font-weight: bold;
    font-size: 16px;
}

body{
    background: url(/f/files/css/main/images/headback.jpg) repeat-x;
    font-family:arial, sans serif;
}

/* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:400px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.floatableFormColumn {
    float: left;
    margin-right: 10px;
}

#associatedSidebar{
    padding:10px;
    width:260px;
}

#associatedSidebar select{
    width:260px;
}

#associatedSidebar input{
    width:125px;
    float:left;
    margin-right:5px;
    _letter-spacing: -0.2em;
}

#associatedSidebar input.wide130{
    width:130px;
    margin-right:0;
}

.wordwrap {
    word-wrap: break-word;
}

.clearFix{
    display:block;
    clear:both;
}


/* ----- FIXED FOOTER CSS ----- */
body,html {
    height:100%;
}

#fullContainer {
    min-height: 100%;
}
* html #fullContainer {
    height: 100%;
}

#footer {
    clear: both;
    height: 180px;
    margin: -180px 0 0 0;
    position: relative;

}
#clearfooter {
    display: block;
    height: 190px; /*height of footer plus 10px to create margin above footer*/
}
/* ----- END FIXED FOOTER ----- */

ul.tags {
    list-style: none;
}

ul.tags li {
    display:inline;
    margin-left:0px; 
}

ul.tags li:not(:last-child):after {
    content: ', ';
}

ul.network li {
    width: 300px;
    margin-left: 0px;
    text-align: left;
    list-style: none;
}

button, a.button, input.button {
    background: transparent url(/f/files/css/main/images/button_sm.png) repeat-x;
    color: #6d6c6c;
    font-size: 12px;
    font-weight:bold;
    text-decoration: none;
    text-shadow: #fffeff 1px 1px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.deleteLink {
    background: url(/f/files/css/main/images/delete.png) no-repeat;
    overflow: hidden;
    height: 35px;
    display: block;
    text-indent: -9999px;
}

body,html {
height:100%; /* gives layout 100% height */
overflow:inherit; /* triggers 100% height in Opera 9.5 */
margin:0; /* zero out margin */
padding:0;
font-family:arial,Geneva,Kalimati,sans-serif;
}

*{
	font-family:arial,Geneva,Kalimati,sans-serif;
}
	
#user-controls {
    /*text-align: right;*/
}


#user-controls ul {
    margin: 0;
    padding: 0 20px 0 0;
    float: right;
    list-style:none;
}

#user-controls li {
    float: left;
    color:#fff;
    height:25px;
    line-height:25px;
    margin:0;
    padding: 0 15px;
}



#user-controls li a {
	color: #fff;
	height: 30px;
	text-decoration: none;
	line-height: 30px;
    font-size:12px;
}

#user-controls li a span{
    height:30px;
    line-height:30px;
	display: block;
}

#user-controls li a:active {
	background-position: bottom right;
	color: #6699ff;
	outline: none; /* hide dotted outline in Firefox */
}

#user-controls li a:active span {
	background-position: bottom left;
}

#user-controls li a:hover {
	text-decoration: underline;
}

#user-controls li.loggedinUser{
    list-style:none;
    font-size:11px;
    color:#ccc;
    padding-right:10px;
    border-right:1px solid #ccc;
    margin:2px 0;
}


.requiredField {
    margin-left: 2px;
    margin-right: 2px;
    color: red;
}

.home {
    /*margin: 60px 0 0 !important;*/
}

#header {
    color: #fff !important;
    width:960px;
    margin:auto;
    border:0;
}

#header-interior {
    color: #fff !important;
    width:960px;
    margin:auto;
    border:0;
}


#header-message{
    width:675px;
    height:115px;
}

#header-main h2 {
    color: #fff !important;
    font: 30px arial;
    font-weight: bold;
}

#header-main h2 span{
	font-size: 14px;
	vertical-align: top;
	position: relative;
	top: 6px;
	left: -2px;
}

#header-main p {
    font: 20px arial;
    color: #78828C !important;
    letter-spacing: -1px;
    margin-top: 0;
    padding-top: 0;
    line-height: 20px;
}

#right-logo{
    display:none;
}

#devportal-logo h1{
    width: 365px;
    height: 90px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    margin-top:-100px;
}

#body_container {
    border-top: 0;
    margin-top: 0px;
   	margin-bottom:0;
    padding: 10px 0;
}

#interior{
	padding-top: 20px;
}

#footer_container {

}


/* further styles below under FIXED FOOTER section */
#footer {
    color: #444444;
    font: 12px arial;
    text-align: center;
    border:none;
}

#versionInfo {
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin-top: 25px
}

/* Forms */
form p { margin-bottom: 15px}
label {
    font-weight: bold
}

label.error {
    display: block;
    clear: both;
    font-weight: normal;
    color: red;
}

label.checkbox {
    font-weight: normal;
}

label.normal-weight {
    font-weight: 100;
}

label.sub {
    font-weight: normal;
    font-size: 12px;
}

/*************/
#inputArea input, #inputArea textarea{
    background:url(/f/files/css/main/images/input_backing.png) repeat-x scroll 0 0 transparent;
    display:block;
    font-family: arial;
    font-size:14px;
    margin-bottom:10px;
    padding:4px;
    width:300px;
}

#contact #inputArea textarea{
	width: 100%;
}
#captchaResponse {
    display: inline !important;
    width: 200px !important;
}


input[type=text], input[type=password], textarea { width: 98% !important;}
input[type=checkbox], input[type=radio] { width: 20px !important; display:inline !important;}
input[type=file] { display: inline !important; }
select { padding: 4px; margin-bottom: 10px; }
input.readonly {
    opacity:.5; /* FX/Opera/Safari/Chrome */
    -ms-filter:"alpha(opacity=50)"; /* IE8 */
    filter:alpha(opacity=50); /* IE6/IE7 */
}


input.wide {
    width: 300px;
}

input.medium {
    width: 200px;
}

input.error {
    background-color: #fdd;
}

ol.fieldList li {
    margin-bottom: 10px;
}

.success {
    background: url(/f/files/css/main/images/icons/tick.png) no-repeat left top;
    margin-left: 10px;
    padding-left: 20px;
    color: green !important;
    display: inline !important
}

.message {
    border: 1px solid #ccc;
    background: #ffc;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    color: #333;
    clear: both;
}

.warning {
    border: 1px solid #c90;
    background: #FFE6A0;
    padding: 5px;
    margin: 10px 0;
    text-align:center;
}

.avatar {
    border: 1px solid #ccc;
    padding: 2px;
}

.rss {
    background: url(/f/files/css/main/images/icons/rss.png) no-repeat;
    width: 30px;
    height: 21px;
    display: block;
    text-indent: -9999px;
    overflow: hidden
}

/* Position */
.right {
    float: right;
}

.left {
    float: left;
}

/* Auto-complete styles */
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 4px 5px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
/*width: 100%;*/
    font-size: 14px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
    color: #999;
}

.ac_loading {
    background: white url(/f/files/css/main/images/indicator.gif) right center no-repeat;
}

.ac_odd {
    background-color: #fff;
}

.ac_over {
    background-color: #F9F8EA;
    color: #333 !important;
}

/* Admin Lists */
table.list {
    width: 100%
}

table.list td, table.list th {
    padding: 5px;
    text-align: left;
}

table.list th {
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

table.list td.odd {
    background-color: #dedede;
}

table.list td.even {
    background-color: #efefef;
}

/* Headings */





h1 {
	color: #444444;
}

h2 {
	color:#666666;
	font-size:22px;
	border-bottom:1px solid #ccc;
	margin:20px 0;
	font-family:arial;
}

h3 {
	font-size:16px;
	color: #444444;
	font-family:arial;
    margin:10px 0;
}

h4 {
    font-size: 16px;
    color: #78828C;
    margin:20px 0 10px 0;
}

#content p{
	font-size:12px;
}

#content p a{
	font-size:12px;
	text-decoration:underline;
}


/* links */

a {
    font: 14px/18px arial;
    color: #ce0025;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* pagination */
.paginateButtons, .pagination {
    float: right;
}

.currentStep, .step, .nextLink, .prevLink {
    margin-left: 5px;
}

p {
    font: 14px/18px arial;
    color: #2e373d;
}

.quote {
    font: 14px/18px arial;
    background-color: #91a5b9;
    padding: 6px;
    color: #fffeff;
    text-shadow: #6e7d8d 1px 1px 0;
    text-align: justify;
}

.intro {
    background-color: #9bc1dc;
    font: 500 14px/18px arial;
    color: #ffffff;
    padding: 6px;
    letter-spacing: 0.1em;
    text-shadow: #7391a6 1px 1px 0px;
}

a.button { padding: 3px 10px;}

a.button:hover{
   background-position: right bottom;
}


button:hover {
    background-position: bottom right;
}

.inlineButton {
    margin-left: 10px;
}

/* Blog */
.post {
    margin-bottom: 40px;
}

.comment {
    margin-bottom: 20px
}

.commentContent {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}

.commentFooter {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
}

.hiddenContent {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px;
}

.hiddenContent p {
    font-size: 0.8em !important;
    margin: 0;
    padding: 0;
}

/*Flag Control*/
.flagControl {
    display: inline;
}

#progress_6 { background: url(/f/files/css/main/images/application-promotion/progress_sprite_6.png); width: 940px; height: 92px; margin-bottom: 30px }
#progress_6.step1 { background-position: left bottom;}
#progress_6.step2 { background-position: left -368px;}
#progress_6.step3 { background-position: left -276px;}
#progress_6.step4 { background-position: left -184px;}
#progress_6.step5 { background-position: left -92px;}
#progress_6.step6 { background-position: left top;}

#progress_4 { background: url(/f/files/css/main/images/application-promotion/progress_sprite_4.png); width: 940px; height: 92px; margin-bottom: 30px }
#progress_4.step1 { background-position: left bottom;}
#progress_4.step2 { background-position: left -184px;}
#progress_4.step3 { background-position: left -92px;}
#progress_4.step4 { background-position: left top;}

/* Home */


div.oneapiLink{
text-align:center;
border:1px dashed #999;
padding:20px;
}

div.oneapiLink p{}

div.oneapiLink p a{display:block; background:#bb0000; width:200px; margin:10px auto; padding:5px 10px; color:#fff; border:1px solid #660000; border-top:none; border-left:none;}


#sign-up_btn { 

}

#sign-up_btn:hover{

}

/* Forums */
table.forums { width: 100% }
table.forums th { text-align: left;}
.reply { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dotted #ccc;}

.align-right { text-align: right!important;}

.clear {
	clear:both;
	font-size:0.01em;
	height:0;
	line-height:0;
	width:0;
}

.frontpage-image{
	width:300px;
	height:155px;
	overflow:hidden;
	border: 0px #eeeeee solid;
}

.frontpage-image.p {
    margin: 0;
    padding: 0;
}

#frontpage-middle-content{
    border-top: 0px dotted #CCCCCC;
	border-bottom: 0px dotted #CCCCCC;
	padding: 10px 0;
}

#off-the-blog-twitter, .sidebar-documents {
	border: 1px solid #dae2e9;
	width: 298px;
}

.sidebar-documents {
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 10px;
	border: 1px solid #dae2e9;
	width: 283px !important;
}

.sidebar-documents h4 {
    margin-left: 10px;
}

.sidebar-documents .item {
    margin-left: 15px;
}

#twitter-listing {
    clear: both;
}

.blog-item, .twitter-item{
	margin: 10px 0;
}

.blog-item .left, .twitter-item .left{
	width: 60px;
	margin: 3px 0;
}

.blog-item .author, .twitter-item .author{
	margin: 0 10px;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #e7e7e8;
	width: 30px;
}

.blog-item .right, .twitter-item .right{
	width: 220px;
	margin: 0 8px 0 0;
}

.blog-item .small-date, .twitter-item .small-date{
	font-size: 10px;
	font-weight: bold;
}

.blog-item .title a, .twitter-item .title a, .sidebar-documents .item a {
	font-weight: bold;
}

#frontpage-bottom-content{
	margin: 10px 0;
}

#join-our-network{
}

#network-title{
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	margin: 12px 20px;
	text-shadow: 1px 1px #000000;
}

#networks{
	margin: 10px 0;
	text-align: center;
}

#networks a{
	margin: 0 3px;
}

#footer .right{
	margin: 20px 0;
	text-align: right;
}

#footer .right .logos a{
	margin: 0 10px;
}

.sub-nav-footer {
    border:none;
	width:920px;
    padding:10px 20px;
}

.sub-nav-footer a{
	margin: 0 0 0 5px;
	padding-left: 10px;
	border-left:1px solid #8f8f8f;
	color:#666666;
	font-size:12px;
	text-decoration:underline;
}

.sub-nav-footer ul li:first-child a{
	border-left: none;
	margin-left:0;

}

#privacy{
	padding: 0 4px 0 0;
}

#search-input{
	width: auto;
	float: left;
	height: 19px;
	padding: 0;
	margin: 0;
	border: 2px solid #F0F0F0;
}
#user-controls #search-button{
	color: #000000;
	overflow: hidden;
	width: 61px;
	display: block;
	float: left;
	text-indent: 9999px;
	height: 23px;
	background: url(/f/files/css/main/images/search_button.png) 0 0 no-repeat;
}

#user-controls #search-button:hover{
	background-position: 0 -23px;
}

#membership-overview li{
	list-style: none;
	background: url(/f/files/css/main/images/check.png) 0 center no-repeat;
	margin: 0 10px;
	padding: 2px 20px;
	font-weight: bold;
}

#gain-access .item{
	margin: 20px 10px;
	padding: 0 0 0 40px;
}

#gain-access #developer{
	background: url(/f/files/css/main/images/developer.png) 0 0 no-repeat #ffffff;
}

#gain-access #support{
	background: url(/f/files/css/main/images/support.png) 0 0 no-repeat #ffffff;
}

#gain-access #global{
	background: url(/f/files/css/main/images/global.png) 0 0 no-repeat #ffffff;
}
#gain-access #resources{
	background: url(/f/files/css/main/images/resources.png) 0 0 no-repeat #ffffff;
}

#content .content-div{
	border-bottom: 1px dotted #CCCCCC;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0
}


#join-aepona-dev{
	padding: 10px;
}

#join-aepona-dev .clear{
	float: none;
}

#join-aepona-dev div{
	float: right;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
	margin: 0 10px 0 0;
	line-height: 37px;
	text-shadow: 1px 1px #000000;
}

#join-aepona-dev a{
	float: right;
}

#join-aepona-dev a:hover{
	background-position: 0 -37px;
}

#terms-small {
    border: 1px solid #CCCCCC;
    height: 250px;
    overflow: auto;
    margin: 0 10px 0 10px;
    padding: 5px;
}

#profile{
	padding: 0 0 10px 0;
}

#profile .right{
	width: 530px;
	margin: 0 0 0 10px;
}

#profile{
	color: #4f5054;
	font-size: 16px;
	margin: 0 0 20px 0;
	border-bottom: 1px dotted #CCCCCC;
}

#profile .right h2{
	color: #4f5054;
	margin-top: 0;
}

#profile .right .right{
	width: auto;
	margin: 20px 0;
}

#edit-profile{
	display:block;
	width: 122px;
	line-height: 22px;
	height: 22px;
	border:1px solid #ccc;
	text-align:center;
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e0e0e0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fefefe, #e0e0e0); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #fefefe, #e0e0e0); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fefefe, #e0e0e0); /* IE10 */
	background-image:      -o-linear-gradient(top, #fefefe, #e0e0e0); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #fefefe, #e0e0e0);
}

#projects{
	margin: 0px;
}

#projects .stage{
	margin: 20px 0;
}

#projects .stage p {
    margin-bottom: 5px;
}

#projects .stage .item{
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #eeeeee;
}

#projects .stage .item .border-wrapper{
	background: url(/f/files/css/main/images/project_item_bg.png) 0 0 repeat-x #F9F9F9;
	padding: 5px;
	border: 1px solid #eeeeee;
}

#projects .stage .item span{
	font-size: 18px;
	font-weight: bold;
	color: #4F5054;
	float: left;
	line-height: 26px;
}


#header-main .grid_5{
	margin-right: 0;
}

.sidebar-padding{
	margin-top: 60px;
}

#sidebar-interior .header{
	background: #bebdbd;
}
#sidebar-interior .header h3{
	padding: 8px;
	color: #ffffff;
	margin: 0;
}

#sidebar-interior .item{
	border-bottom: 1px dotted #bbbbbb;
	margin: 5px 0 0;
	padding: 0  0 5px 0;
}

#developers .item, #terms .item{
 	border-bottom: 1px dotted #CCCCCC;
 	padding: 10px 0;
}

#developerList{
	margin-top:20px;
    background:#f7f7f7;
}

#developerList .item .border-wrapper{
    background: url(/f/files/css/main/images/project_item_bg.png) 0 0 repeat-x #F9F9F9;
}

#developerList .item{
	padding: 0 0;
	margin: 0;
	border-bottom: 1px solid #eeeeee;
}

#developerList .item a span {
    text-decoration:underline;
}

#developerList .item a:hover span {
    color:#006996;
}

#developers .item a, #documents .item, #documents .item a{
	font-size: 16px;
	font-weight: bold;
	color: #78828C;
}

#developers .item a.button{
	color: #6D6C6C;
	font-size: 12px;
	font-weight: 600;
}

#off-the-blog-interior .item .date-author{
	font-size: 12px;
	font-weight: bold;
	color: #22282a;
}

.item .date-author a{
	font-size: 12px;
	font-weight: bold;
}

#projects .item .title a{
	color: #78828C;
	
}

.item .title a{
	color: #ce0025;
	font-weight: bold;
	font-size: 15px;
}

#off-the-blog-interior h3{
	width: 200px;
	float: left;
	margin: 0;
}

#off-the-blog-interior .rss{
	width: 30px;
	float: right;
	margin: 8px;
	display: block;
	background-color: #BEBDBD;
}


#sidebar-interior .sidebar-item{
	margin: 0 0 20px 0;
}

#footer #copyright{
    border-top:1px solid #ccc;
    text-align:left;
	color:#666666;
    padding:10px 20px 0 20px;
}

#frontpage-top-content{
	margin-top:10px;
	font-family: arial,arial,helvetica,sans-serif;
}

#frontpage-top-content h3{
	font-size: 14px;
	color: #006996;
}

#frontpage-top-content p{
	font-size: 12px;
	color: #808080;
}

#frontpage-top-content h4{
	font-size: 18px;
}

#blog .item .right{
	width: 510px;
	margin: 0 0 0 30px;
}

#blog .item .right .right{
	width: auto;
	margin: 0;
}

#blog .item .right a{
	font-weight: bold;
	color: #ce0025;
}

#blog .item .right .author-comments{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding: 5px 0;
	margin: 30px 0 0;
}

#blog .item .author-avatar{
	width: 80px;
}

#blog h2{
	margin-top: 0;
	border-bottom:0;
}

#blog a h2{
	text-decoration:underline;
}

#blog .item .author-avatar .date{
	background: #ce0025;
}

#blog .item .author-avatar .date .left{
	width: 38px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 23px;
	border-right: 1px solid #a5121a;
}

#blog .item .author-avatar .date .right{
	width: 40px;
	margin: 0;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	border-left: 1px solid #a5121a;
	line-height: 17px;
	padding: 0 0 0 5px;
	width: 35px;
}

#blog .blog-content{
	margin: 30px 0;
}

#blog .blog-content .code{
	border: 1px solid #bbbbbb;
}

#blog .blog-content blockquote{
	background: url(/f/files/css/main/images/quote.png) 10px 20px no-repeat #ce0025;
	padding: 10px 10px 10px 60px;
}

#blog .blog-content blockquote p{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	margin: 10px 0;
}

#blog .blog-summary {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCCCCC;
}

#blog .tags-comments{
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin: 30px 0;
	padding: 5px 0;
}

#blog #comments .tags-comments {
    border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin: 5px 0;
	padding: 5px 0;
}

#blog .tags-comments .right{
	margin: 0;
	width: auto;
}

#blog .tags-comments .left{
	color: #2E373D;
	font-size: 14px;
}

#blog .tags-comments .left a{
	color:#ce0025;
	font-weight:bold;
}

#join-the-conversation .title{
	background: url(/f/files/css/main/images/join_the_conversation_bottom.png) bottom left no-repeat #FFFFFF;
	padding: 0 0 10px 0;
}

#sidebar-interior #join-the-conversation .item{
	border: none;
	padding: 0 30px 0 0;
	margin: 20px 0;
}

#sidebar-interior .item{
	font-weight: bold;
}

div.tour{
	padding-top: 20px;
}

#blog .blog-content .feature{
	font-size: 18px;
	color: #980e0e;
}

#blog .blog-content p{
	margin: 20px 0;
}

#user-controls #register-now{
	margin: 2px 0 0 0;
}


table.forums thead tr, table.forums thead tr th{
	background: #F0F0F0;
}

.break {
    border-bottom: 1px dotted #CCCCCC;
}

#developer-show .item{
 	margin: 20px 0;
 	padding: 20px 0;
 	border-top: 1px dotted #CCCCCC;
}


table.forums tbody tr, table.forums tbody tr td{
	border-bottom: 1px solid #CCCCCC;
}

table.forums td.column-even{
	background: #F0F0F0;
}

table.forums td, table.forums th{
	padding: 5px;
	vertical-align: middle;
}

table.forums tr.group td{
	font-weight: bold;
}

table.forums th.forum, table.forums td.forum{
	width: 450px;
}

br.spacer {
    line-height: 13px;
}

.right-border {
    border-right: 1px dotted #CCCCCC;    
}

.header_26 {
    margin-top: 26px;
}

#marketing p {
    margin: 0;    
}

.virtualCurrencyBundles,
.virtualCurrencyBalances{
    list-style:none;
}

.virtualCurrencyBalances .accountName{
    display:inline-block;
    width:200px;
}


hr{
	background:none;
	border:none;
	height:1px;
	border-top:1px solid #eee;
	margin: 20px 0;
}

/* twitter overrides */
.twtr-ft, .twtr-hd{
    display: none !important;
}

a.downloadDocLink {
	background: url(/f/files/css/main/images/icons/drive-download.png) no-repeat;
	padding-left: 20px;
}

.reportMonthsList li {
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    padding-right: 2px;
}

.nav-header{
    width:940px;
    margin:5px 0 0 0;
    height:30px;
    background:#c6c6c6;
}

.nav-header ul,
.nav-header ul li{
	margin:0;
	padding:0;
}

.nav-header > ul {
    display:block;
    height:30px;
    width:940px;
    position:relative;
}

.nav-header > ul > li{
    float:left;
    height:30px;
    padding:0 10px;
}

.nav-header > ul > li > a{
	display:block;
    color:#444;
    line-height:30px;
}

.nav-header > ul > li > a:hover{

}

.nav-header > ul > li > ul{
    position:absolute;
    z-index:999;
    top:30px;
    left:0;
    width:940px;
    background: url(/f/files/css/main/images/topnav_gradient.jpg) top center no-repeat;
    height:155px;
    margin:0;
    display:none;
}

.nav-header > ul > li > ul > li{
    float:left;
    display:block;
    width:150px;
    height:115px;
    padding:20px;
}

.nav-header > ul > li > ul > li a{
    color:#ce0025;
    font-size:12px;
}

.nav-header > ul > li > ul > li > ul,
.nav-header > ul > li > ul > li > ul li{
    margin:0;
}

.nav-header > ul > li > ul > li ul a{
    color:#444444;
    font-size:11px;
}


.nav-footer {

	margin:auto;
    margin-bottom:10px;
	text-align:left;
    background: url(/f/files/css/main/images/footernav_gradient.jpg) repeat-x;
}

.nav-footer > ul > li{
	width:108px;
	float:left;	
	height:60px;
	padding:20px;
}
.nav-footer  ul a {
	color:#fff;
	font-size:12px;
}

.nav-footer > ul > li > a{
	font-size:12px;
    color:#ce0025;
}

.nav-footer > ul > li > ul{

}


.nav-footer > ul > li > ul li a{
	font-size:11px;
	color:#444;
}

.nav-footer > ul > li > ul > li  > ul{
	display:none;
}


#footer_container .nav-footer > ul > li > ul{
    margin:0;
}

div#frontpage-middle-content > div > *:first-child{
	margin-top:0;
}

.sub-nav-footer ul{list-style:none; margin:0; padding:0; position:relative;}
.sub-nav-footer ul li{float:left;margin:0; padding:0 10px 5px 0;}
.sub-nav-footer ul li:first-child a{padding-left:0;}
.sub-nav-footer ul li:first-child a{border-left:none;}

.sub-nav-footer ul li a#menu-Aepona{display:block;width:206px;height:32px; background:url(/f/files/css/main/images/poweredBy.gif); padding:0; margin:0; border:0; overflow:hidden; text-indent:-9899px; position:absolute; left:auto; right:0; top:0;}

.theSiteMap li.title{list-style:none; margin:0 0 20px 0; color:#049; font-weight:bold;}
.theSiteMap li.title li{color:#000; margin-left:30px;}








#createAProject{
    margin:10px 0;
}

.projectButtons{
    text-align:right;
}

.projectButtons .button{
    display:inline-block;
    margin:10px 5px 0 0;
}

.projectsHolder{
    display:inline-block;
    margin-top:20px;
    background:#f7f7f7;
}

.projectsHolder h4.title,
.projectsHolder p{
    margin-left:10px;
}

.createPartnerButton{
    margin:10px 0;
}

.partnerDashButtons{
    text-align:right;
}

#developerList .item h4{
    font-size:16px;
    padding:5px 5px 0 5px;
    height:30px;
}


#developerList .item .button{
    display:inline-block;
    margin:9px 5px 0 0;
}



.translationHolder{
  width:150px;
  float:left;
}
   
#translationSelect_input{
  line-height:35px;
}


#edit-profile:hover{
	text-decoration:none;
	background-color: #e0e0e0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#fefefe)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #e0e0e0, #fefefe); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #e0e0e0, #fefefe); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #e0e0e0, #fefefe); /* IE10 */
	background-image:      -o-linear-gradient(top, #e0e0e0, #fefefe); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #e0e0e0, #fefefe);
}