/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2014, 11:11:30 AM
    Author     : User
*/

BODY {
    /*BACKGROUND-COLOR: #ffffff; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 10px; 
    BORDER-BOTTOM: 5px; 
    BORDER-LEFT: 5px; 
    BORDER-RIGHT: 5px; 
    BORDER-TOP: 5px; 
    MARGIN: 5px; 
    PADDING-BOTTOM: 5px; 
    PADDING-LEFT: 5px; 
    PADDING-RIGHT: 5px; 
    PADDING-TOP: 5px*/
}

#forumBody .forumbutton{
    background: url("/f/files/css/main/images/button_sm.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #CCCCCC;
    color: #6D6C6C;
    cursor: pointer;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFEFF;
    /*margin-top: 18px;*/
}

#forumBody .forum_form_label{
    font-family: arial;
    font-size: 14px;
}

#forumBody .forum_form_textinput{
    background: url("/f/files/css/main/images/input_backing.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-family: arial;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px;
    width: 300px;
}

#forumBody A:link {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}
#forumBody A:visited {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}
#forumBody A:hover {
    COLOR: #7E9FD0; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}
#forumBody A:active {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none 
}


#forumBody .pathBar{
    background-color: #FFFFFF;
}

#forumBody .pathBarSeperator{
    COLOR: #000000;
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 11px; 
}
#forumBody .pathBarLink:link {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .pathBarLink:visited {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .pathBarLink:hover {
    COLOR: #7E9FD0; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .pathBarLink:active {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none 
}

#forumBody .forumLink:link {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .forumLink:visited {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .forumLink:hover {
    COLOR: #7E9FD0; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none
}
#forumBody .forumLink:active {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 12px; 
    TEXT-DECORATION: none 
}

#forumBody .forumInfo {
    COLOR: #000000; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
}

#forumBody .forumTopics {
    COLOR: #000000; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
}

#forumBody .forumReplies {
    COLOR: #000000; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
}

#forumBody .forumPostInfo {
    COLOR: #000000; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
}

#forumBody .forumDelete:link {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica;
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}

#forumBody .forumDelete:visited {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}

#forumBody .forumDelete:hover {
    COLOR: #7E9FD0; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none
}

#forumBody .forumDelete:active {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
    TEXT-DECORATION: none 
}

#forumBody .copyRight {
    COLOR: #304C77; 
    font-family: Arial,Verdana,Helvetica; 
    FONT-SIZE: 10px; 
}

#forumBody .infobar {
    color: #2E373D;
    font-family: Arial,Verdana,Helvetica;
    font-size: 10px;
    font-weight: bold;
}

#forummaintable{
    background-color: #336699;
    width: 100%;
    border: 0;
    padding: 0;
}

#forumsecondtable{
    width: 100%;
    border-color: black;
    border-width: 1px !important;   
    border-style: solid;
    /*border: 1px;*/
    padding: 1px;
}

#forum_login_outer_table{
    width: 100%;
    border-color: #C6C6C6;
    border-width: 1px !important;   
    border-style: solid;
    /*border: 1px;*/
    padding: 1px;
}

#common_tr{
    background-color: #C6C6C6;
}

#forum_login_inner_table{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#table_start_title{
    background-color: #ffffff;
}

#forum_list_table{
    width: 100%;
    border-color: #C6C6C6;
    border-width: 1px !important;   
    border-style: solid;
    /*border: 1px;*/
    padding: 1px;
}

#table_start_body{
    background-color: #ffffff;
}

#table_body{
    color: #003366;
    font-family: arial;
    font-size: 1;
}

#table_title{
    color: #444444;
    font-size: 1;
    font-family: arial;
    font-weight: bold;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 6px;
}

#table_body_username_1{
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
    border: 0;
}

#table_body_username_1_td{
    color: #003366;
    font-family: arial;
    font-size: 1;
}

#table_body_username_2{
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
    border: 0;
}

#table_body_username_2_td{
    color: #003366;
    font-family: arial;
    font-size: 1;
}

#forum_page_table{
    width: 100%;
    height: 20;
    border: 0;
    padding: 1;
}

#forum_page_table_td{
    height: 20;
}

#editmessage_page_table{
    width: 100%;
    height: 20;
    border: 0;
    padding: 1;
}

#editmessage_page_table_td{
    height: 20;
}

#message_page_table{
    width: 100%;
    height: 20;
    border: 0;
    padding: 1;
    border-spacing: 1;
}

#message_page_table_td{
    height: 20;
}

#profile_page_table{
    width: 100%;
    height: 20;
    border: 0;
    padding: 1;
    border-spacing: 1;
}

#profile_page_table_td{
    height: 20;
}

#thread_page_table{
    width: 100%;
    height: 20;
    border: 0;
    padding: 1;
    border-spacing: 1;
}

#thread_page_table_td{
    height: 20;
}

#textstyle_page_maintable{
    padding: 0;
    border: 0;
}

#tb37{
    background-color: #304C77;
    padding: 1;
    border: 0;
}

#tb38{
    background-color: #304C77;
    padding: 1;
    border: 0;
}

#tb39{
    background-color: #304C77;
    padding: 1;
    border: 0;
}

#tb40{  
    background-color: #304C77;
    padding: 1;
    border: 0;
}
#textstyle_page_inner_table{
    background-color: #ffffff;
    padding: 6;
    border: 0;
    width: 100%;
}

#body_page_table{
    width: 80%;
    /*height: 0;
    border: 0;
    padding: 0*/
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

#body_page_table_td{
    width: 50%;
    height: 0;
}