body,textarea,pre,.navbar-search .search-query{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:20px;
}
label, input, button, select, textarea{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
}
h1,h2,h3,h4,h5{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-primary {
    background: rgb(245,128,32); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNTgwMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjQ5NTQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%, rgba(244,149,70,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(245,128,32,1)), color-stop(100%,rgba(244,149,70,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(245,128,32,1) 0%,rgba(244,149,70,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58020', endColorstr='#f49546',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.btn:hover, .btn:focus{
    background-color:transparent;
    transition:none;
    background-position: 0 0;
}
.brand{
    margin-left: -20px;
    background: transparent url(../images/logo.png) no-repeat left top;
    height: 36px;
}
.brand img{
    display: none;
}
div#footer{
    background: none repeat scroll 0 0 #222222;
}
ul.help-links li a{
    color: #cbcbcb;
    font-size: 13px;

}
ul.help-links li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.help-links{
    border-left: solid 1px #fff;
    height: 90px;
    padding-left: 20px;
    float:left;
    margin-right:50px;
}
#left .nav-list > .active > a, #left .nav-list > .active > a:hover, #left .nav-list > .active > a:focus{
    background-color: #f58020;
    color:#fff;
}
#left li a{
    color:#f58020;
}
#left li a:hover{
    background-color: transparent;
    color:#000;
}
.login-sign-up{
    margin-right:50px;
    margin-top:10px;
}
#userMenu{
    color:#f58020;
}
#userMenu:hover{
    color:#000;
}
#header{
    height:140px;
}
.logo-section{
    padding-left:20px;
    padding-top:5px;
}
.login-header{
    background: transparent;
    height: 55px;
}
.main-menu{
    margin: 20px;
}
div.main-menu-navbar{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 48%, rgba(255,255,255,1) 63%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(48%,rgba(240,240,240,1)), color-stop(63%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(240,240,240,1) 48%,rgba(255,255,255,1) 63%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

    border-radius: 0;
    border-top:solid 1px #bcbec0;
    border-bottom:solid 1px #bcbec0;
    border-left: none;
    border-right: none;

    box-shadow: none;
    height: 46px;
    padding-left:0;
}
.navbar .nav > .active > a{
    padding:13px 20px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background: #f58020;
    color: #fff;
    text-shadow: none;
    position: relative;
    box-shadow: none;
}
.navbar .nav > .active > a:after{
    background: transparent url(../images/active-punch.png) no-repeat left top;
    content: "";
    position: absolute;
    left:50%;
    top:0;
    width:23px;
    height: 10px;
    margin-top:-1px;
    margin-left: -12px;
}
@media all and (min-width: 0px) {
    #left {
        background: #f1f2f2;
    }
    .breadcrumb{
        margin:20px 0;
    }
    div#footer{
        margin-left: 0;
    }
    .footer-left-most{
        margin-left: 0;
    }
}
@media all and (min-width: 900px){
    .breadcrumb{
        margin:-20px 0 20px 0;
    }
    div#footer{
        margin-top: 18px;
        margin-left: 0;
    }
    div.footer-main ul.footer-left-most{
        border-left: none;
        margin-left: 251px;
    }
}
#layout-base{
    min-height: 100px;
}
.login-title{
    border:none;
    line-height: 30px;
    padding:0 0 10px 0;
    color: #222222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 200;
    margin: 0 0 10px 0;
}
.login-container {
    margin-top: 20px;
}
#push, #footer {
    height: 200px;
}
#wrap{
    margin-bottom: -180px;
}
#footer{
    border-top: 1px solid #000;
}
ul.help-links li{
    list-style: none;
}
div#listing div.title-section, .title-section h2{
    background: #fff;
}
.title-section h2{
    border:none;
    line-height: 30px;
    padding:0 0 10px 0;
    color: #222222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 200;
    margin: 0 0 10px 0;
}
#middle{
    margin-left: 0;
    margin-top: 20px;
    padding-left:20px;
}
.nav-list .nav-header{
    border: none;
    color: #f58020;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    margin: 20px 0 0 0;
    padding: 0 0 10px;
    background: none;
}
div#left{
    background: none;
}
.left-menu-back01{
    background: none;
}
.navbar ul.login-sign-up{
    float:right;
}
#userInfoMenu{
    margin-left:-55px;
}
.arrow-dropdown{
    cursor: pointer;
    text-decoration: none;
}
.arrow-dropdown:hover{
    color:#000;
    text-decoration: none;
}
.spinner-big{
    font-size: 200px;
    color: #f58020;
    padding:20px 0;
}
.diagram-wrappers h3{
    margin-bottom: 10px;
    margin-top:20px;
    border-bottom:solid 1px #ccc;
}
.single-pie-container{
    width: 400px;
    float: left;
    margin-right:20px;
}
.single-box-container{
    width: 350px;
    float: left;
    margin-right:20px;
}
.single-bar-container{
     width: 300px;
     float: left;
 }
table td.tdright{
    text-align:right;
}
.slow-container{
    width:150px;
    margin-right:10px;
    float:left;
}
.slow-top{
    background: #ad2400;
    text-align: center;
    color: #fff;
    padding-top:20px;
    font-size: 20px;
}
.slow-top-l2{
    background: #d7502c;
}
.slow-top-sub{
    font-size:11px;
    margin-top:10px;
    padding-bottom:10px;
    }
.slow-bottom{
      background: #e7e7e7;
      padding:10px 5px;
      text-align: center;
      font-weight: bold;
}
div#loader {
  display: none;
  width: 700px;
  height: 400px;
  background: url(../images/ajax_loader_gray_48.gif) no-repeat center center;
 
}


/* =============================================================================
 * Wso2.telco styles
 * ============================================================================= */


.footer-main {
    padding: 10px 0;
    width: 100%;
    z-index: -1;
    min-height: 68px;
    color: #9f9f9f;
    border-top: solid 1px #ccc;
}


.powered-by-logo {
    background: transparent url(../images/poweredBy.png) no-repeat scroll 0px 0px;
    display: block;
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding-right: 10px;
}


.help-links {
    border-left: solid 1px #fff;
    padding-left: 10px !important;
    /* height: 90px; */
}

.help-links li {
    list-style-type: none;
}

/*.first-link{ border: none;} */

.share-pane a.facebook{
    background:transparent url(../images/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    margin-right: 3px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../images/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    margin-right: 3px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../images/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    margin-right: 3px;
    height: 16px;
    margin-bottom:6px;
}


.copyright_logo {
    background: transparent url("../images/logo-inverse.svg") no-repeat scroll left bottom;
    display: inline-block;
    height: 17px;
    margin-bottom: 6px;
    vertical-align: middle;
    width: 65px;
}

.custom_hr {
    margin-top: 7px;
    margin-bottom: 7px;
    border: 0;
    border-top: 1px solid #F47B20 !important;
}

.footer p{ margin: 0px !important;}

body.sticky-footer {
    padding-bottom: 140px;
}

.btn-home {
    background: transparent url("../images/home-btn-back.png") no-repeat scroll left top;
    border: medium none;
    color: #f7941e;
    font-size: 18px;
    height: 53px;
    text-align: center;
    text-shadow: none;
    width: 182px;
}

p.intro_text {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}

.title-section h2 {
    border: medium none;
    color: #666666;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

.content_underline{border-color: #ffffff; border-width: thin;}


.page-content-wrapper, .page-content-wrapper[data-container-behaviour=static] {
    margin-bottom: 2%;
}

.hm-btn-container{ padding-left:0px !important;}
